/* All Monkeytype Fonts (@font-face) */

@font-face {
  font-family: "Roboto_Mono";
  src: url("/webfonts/RobotoMono-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("/webfonts/RobotoMono-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "JetBrains_Mono";
  src: url("/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("/webfonts/JetBrainsMono-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Fira_Code";
  src: url("/webfonts/FiraCode-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Fira Code";
  src: url("/webfonts/FiraCode-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Source_Code_Pro";
  src: url("/webfonts/SourceCodePro-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Source Code Pro";
  src: url("/webfonts/SourceCodePro-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inconsolata";
  src: url("/webfonts/Inconsolata-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Cascadia_Mono";
  src: url("/webfonts/CascadiaMono-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Cascadia Mono";
  src: url("/webfonts/CascadiaMono-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "IBM_Plex_Mono";
  src: url("/webfonts/IBMPlexMono-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Mono";
  src: url("/webfonts/IBMPlexMono-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu_Mono";
  src: url("/webfonts/UbuntuMono-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu Mono";
  src: url("/webfonts/UbuntuMono-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Overpass_Mono";
  src: url("/webfonts/OverpassMono-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Overpass Mono";
  src: url("/webfonts/OverpassMono-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Hack";
  src: url("/webfonts/Hack-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "CommitMono";
  src: url("/webfonts/CommitMono-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Mononoki";
  src: url("/webfonts/Mononoki-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Geist_Mono";
  src: url("/webfonts/GeistMono-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Geist Mono";
  src: url("/webfonts/GeistMono-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Iosevka";
  src: url("/webfonts/Iosevka-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Proto";
  src: url("/webfonts/0xProto-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "0xProto";
  src: url("/webfonts/0xProto-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Adwaita_Mono";
  src: url("/webfonts/AdwaitaMono-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Adwaita Mono";
  src: url("/webfonts/AdwaitaMono-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lexend_Deca";
  src: url("/webfonts/LexendDeca-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lexend Deca";
  src: url("/webfonts/LexendDeca-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "IBM_Plex_Sans";
  src: url("/webfonts/IBMPlexSans-SemiBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("/webfonts/IBMPlexSans-SemiBold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("/webfonts/Roboto-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("/webfonts/Montserrat-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Titillium_Web";
  src: url("/webfonts/TitilliumWeb-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Titillium Web";
  src: url("/webfonts/TitilliumWeb-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Oxygen";
  src: url("/webfonts/Oxygen-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("/webfonts/Nunito-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/webfonts/Lato-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("/webfonts/Ubuntu-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Parkinsans";
  src: url("/webfonts/Parkinsans-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Geist";
  src: url("/webfonts/Geist-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter_Tight";
  src: url("/webfonts/InterTight-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Inter Tight";
  src: url("/webfonts/InterTight-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Space_Grotesk";
  src: url("/webfonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url("/webfonts/SpaceGrotesk-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Atkinson_Hyperlegible";
  src: url("/webfonts/AtkinsonHyperlegible-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url("/webfonts/AtkinsonHyperlegible-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Comfortaa";
  src: url("/webfonts/Comfortaa-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Coming_Soon";
  src: url("/webfonts/ComingSoon-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Coming Soon";
  src: url("/webfonts/ComingSoon-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Itim";
  src: url("/webfonts/Itim-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Open_Dyslexic";
  src: url("/webfonts/OpenDyslexic-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "OpenDyslexic";
  src: url("/webfonts/OpenDyslexic-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lalezar";
  src: url("/webfonts/Lalezar-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Boon";
  src: url("/webfonts/Boon-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Boon (ไทย)";
  src: url("/webfonts/Boon-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Sarabun";
  src: url("/webfonts/Sarabun-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Kanit";
  src: url("/webfonts/Kanit-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Noto_Naskh_Arabic";
  src: url("/webfonts/NotoNaskhArabic-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Noto Naskh Arabic";
  src: url("/webfonts/NotoNaskhArabic-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Noto_Sans_Lao";
  src: url("/webfonts/NotoSansLao-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans Lao (ລາວ)";
  src: url("/webfonts/NotoSansLao-Regular.woff2") format("woff2");
  font-display: swap;
}
